{% extends 'base.html.twig' %}

{% block title %}Mes factures disponible sur les pucesNautiques{% endblock %}

{% block body %}
    <h1>Mes factures disponible sur les pucesNautiques</h1>

    <p>Expedita quisquam, habitant voluptate, mattis ante odio quaerat? Molestie dol
    or! Litora facilisis quis pulvinar eros eum ornare magnam, mollis taciti deleniti.
    Praesent nonummy. Aliquid pede blandit asperiores alias tristique et. Nunc numquam!
        Voluptatem suscipit anim nascetur ac. Nobis repudiandae commodi. Recusandae soluta, faucibus aute excepturi ex sodales i
    ste tellus tristique explicabo dapibus nostrud maiores? Massa error molestie eli
    t? Neque wisi exercitation quisque rem fusce proin qui id molestiae, </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Annonce</th>
                    <th>Acheteur</th>
                    <th>Vendeur</th>
                    <th>Télécharger la facture</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.id }}</td>
                    <td>{{ invoice.product|striptags|u.truncate(50, '...')|raw }}</td>
                    <td>{{ invoice.buyer }}</td>
                    <td>{{ invoice.seller }}</td>
                    <td>
                        <a href="{{ path('invoice_generate', {'id': invoice.id}) }}">Télécharger</a>
                        {# <a href="{{ path('invoice_show', {'id': invoice.id}) }}">show</a>
                        <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a> #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Pas de facture disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# <a href="{{ path('invoice_new') }}">Create new</a> #}
{% endblock %}
