{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>Acheteur</th>
                <td>{{ invoice.seller }}</td>
            </tr>
            <tr>
                <th>Vendeur</th>
                <td>{{ invoice.buyer }}</td>
            </tr>
            <tr>
                <th>Vendeur</th>
                <td>{{ invoice.product }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('invoice_generate', {'id' : invoice.id}) }}">Générer le PDF</a>
    {# <a href="{{ path('invoice_index') }}">back to list</a>
    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a> #}
    {# {{ include('invoice/_delete_form.html.twig') }} #}
{% endblock %}
