{% extends 'base.html.twig' %}

{% block title %}Connexion au PucesNautique{% endblock %}

{% block stylesheets %}
    {# <link href="assets/css/login.css" rel="stylesheet"> #}
{% endblock %}

{% block body %}
    <div class="row login-container">
        <h1>Connectez-vous à la plateforme PucesNautique</h1>
        {# TODO: Créer du texte d'explication #}
        <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
        Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
        s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
        Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
        elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
        ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
        eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
        er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
        riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
        <div class="col-6 login-form-1">
            <h3>Espace de connexion</h3>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post" accept-charset="UTF-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre adresse mail *" name="email" id="inputEmail" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Votre mot de passe *" name="password" id="inputPassword" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Connexion" />
                    </div>
                    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <a href="{{ path('app_register')}}" class="btnForgetPwd">Pas encore inscrit ?</a>
                        {# 
                        TODO: Création du formulaire de mot de passe oublié
                        <a href="#" class="btnForgetPwd"> Mot de passe oublié ?</a> #}
                    </div>
            
                    {% if errorMessage is defined %}
                        <p>{{ errorMessage }}</p>
                    {% endif %}
                </form>
        </div>
        <div class="col-md-6 login-form-2">
            <div class="login-logo">
                <img src="images/faticon.png" alt="Logo des PucesNautiques"/>
            </div>
        </div>
    </div>
{% endblock %}
