<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('catalog') }}">PucesNautiques</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ad_index') }}">Annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('catalog_history') }}">L'histoire des PucesNautiques</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('message_new', {'id' : app.user.id}) }}">Contactez-nous</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ad_new') }}">Créer une annonce</a>
            </li>
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
            {% else %}
               <li class="nav-item">
                    <a class="nav-link" href="{{path('user_ad', {'id' : app.user.id})}}">Mes annonces</a>
                </li> 
                {% if not is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('invoice_index')}}">Mes factures</a>
                    </li> 
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" href="{{path('category_index')}}">Catégories</a>
                            <a class="dropdown-item" href="{{path('ad_overview')}}">Annonces en ligne</a>
                            <a class="dropdown-item" href="{{path('user_index')}}">Utilisateurs inscrits</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('invoice_index')}}">Les factures</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('user_show', {'id' : app.user.id})}}">Mon profil</a>
                        </div>
                    </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Messages<span class="badge badge-warning">{{notification.getMessageCount()}}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('message_index', {'type' : 'envoyés' })}}">Mes messages envoyés</a>
                            <a class="dropdown-item" href="{{path('message_index', {'type' : 'reçus' })}}">Mes messages reçus</a>
                        </div>
                    </li>  
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Messages<span class="badge badge-warning">{{notification.getMessageCount()}}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('message_index', {'type' : 'envoyés' })}}">Mes messages envoyés</a>
                            <a class="dropdown-item" href="{{path('message_index', {'type' : 'reçus' })}}">Mes messages reçus</a>
                        </div>
                    </li>            
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('user_show', {'id' : app.user.id})}}">Mon profil</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% endif %}


        </ul>

        {# TODO: Faire la recherche d'annonce #}
        {# <form class="form-inline my-2 my-lg-0" _lpchecked="1">
            <input class="form-control mr-sm-2" type="text" placeholder="Kayak de mer ...">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
        </form> #}
    </div>
</nav>