{{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.path, {'attr': {'class': 'form-control'}}) }}
    <button class="mt-3 mb-3 btn btn-success">Enregistrer la catégorie</button>
{{ form_end(form) }}
