{% extends 'base.html.twig' %}

{% block title %}Catégorie disponible sur les PucesNautiques{% endblock %}

{% block body %}
    <h1>Catégorie disponible sur les PucesNautiques</h1>
    {# TODO: Créer du texte d'explication #}
    <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
    Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
    s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
    Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
    elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
    ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
    eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
    er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
    riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Catégorie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td><a href="{{path('category_show', {'id': category.id})}}">{{ category.id }}</a></td>
                    <td><a href="{{path('category_show', {'id': category.id})}}">{{ category.title }}</a></td>
                    <td>
                        <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                        <a class="text-danger" href="{{ path('category_delete', {'id': category.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de catégorie trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('category_new') }}"><button type="button" class="btn btn-success mr-1 mb-3">Créer une nouvelle catégorie</button></a>
    </div>
    

    
{% endblock %}
