{% extends 'base.html.twig' %}

{% block title %}La catégorie {{category.title}}{% endblock %}

{% block body %}
    <h1>La catégorie {{category.title}} </h1>
    {# TODO: Créer du texte d'explication #}
    <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
    Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
    s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
    Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
    elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
    ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
    eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
    er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
    riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>

    <img style="width: 100%; display: block;" src="{{chemin_image}}/{{category.path}}"  onerror="this.src='/images/inconnu.png';" alt="Card image">

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ category.title }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3 class="mb-3">Les annonces en ligne avec cette catégorie</h3>
        <div class="ads">
            {% for ad in category.ads %}
                <a href="{{path('ad_show', {'id' : ad.id})}}">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title|u.truncate(20, '...') }}</h5>
                        <h6 class="card-subtitle text-muted">{{ad.category}} | {{ad.price}} €</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="{{chemin_image}}/{{ad.image}}"  onerror="this.src='/images/inconnu.png';" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">{{ ad.description|u.truncate(50, '...') }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ ad.createdAt|date('d-m-Y') }}
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>


    <a href="{{ path('category_index') }}"><button type="button" class="btn btn-success mr-1">Voir les catégories</button></a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier la categorie</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
