footer {
    width: 100%;
    color: white;
    background-color: #78C2AD;
    display: flex; 
    bottom: 0; 
    left: 0; 
    right: 0;
    /* margin-top: 10vh; */
}
footer h6 {
    color: white;
}
footer a {
    color: white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
  }
.card .title {
    color: grey;
    font-size: 18px;
  }
  
  .card  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .card  button:hover, a:hover {
    opacity: 0.7;
  }
  
  .card   .ads-card-grid{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
  }
  
  .card .grey{
    background-color: #dadada;
  }
  
  .card  .blue{
    background-color: blue;
  }
  
  .card  .ads-card-grid img {
    height: 200;
    width: 300;
  }
  
@media screen and (min-width: 800px) {
  .ads{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
}
.ads{
  flex-wrap: wrap;
  justify-content: space-between;
}

#map{
  height: 50vh;
}

.dsplFlex{
  display:flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .dsplFlex{
    padding: 0!important;
    display: block!important;
  }

  .dsplNone{
    display: none;
  }
}
.actionButton{
  display: flex;
}
.textAlign{
  text-align: center;
}
.roundedImage{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:90px;
  height:90px;
  float: right;
}
.adBadge .badge {
  font-size: 45px;
}
