{{ form_start(form) }}
    {{ form_row(form.title, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.content, {'attr' : {'class' : 'form-control'}}) }}
    <button class="btn btn-success mt-3 mb-3">Envoyer le message</button>
{{ form_end(form) }}
