<a href="{{path('ad_show', {'id' : ad.id})}}">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ ad.title|u.truncate(15, '...') }}</h5>
            <h6 class="card-subtitle text-muted">{{ad.category}} | {{ad.price}} €</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="{{chemin_image}}/{{ad.image}}"  onerror="this.src='/images/inconnu.png';" alt="Card image">
        <div class="card-body">
            <p class="card-text">
                {{ ad.description|striptags|u.truncate(25, '...')|raw }}
            </p>
        </div>
        <div class="card-footer text-muted">
            {{ad.brand}} | {{ ad.createdAt|date('d-m-Y') }}
        </div>
    </div>
</a>