<form method="post" action="{{ path('ad_delete', {'id': ad.id, 'userConnect': app.user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
    <button class="btn btn-danger mr-1 mb-3 mt-3">Supprimer l'annonce</button>
</form>
