{{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.brand, {'attr': {'class': 'form-control'}}) }} 
        </div>
        <div class="col-6">
            {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>   
    <hr>
    {# TODO: Faire apparaitre un retour #}
    {{ form_row(form.fichierimage) }}
    {{ form_row(form.secondaryImage) }}
    {{ form_row(form.thirdImage) }}
    *Dimension idéal 1920x1080
    <hr>
    <br>
    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
    *L'adresse de l'annonce sera par défaut celle inscrite sur votre profil <br>
    <button class="mt-3 mb-3 btn btn-success">Enregistrer l'annonce</button>
{{ form_end(form) }}
{{ encore_entry_link_tags('ckeditor') }}

