{{ form_start(form) }}
    <h4>Recherche</h4>
    {# TODO: Rechercher par localisation et géolocalisation #}
    {{ form_row(form.q) }}
    {{ form_row(form.brand) }}
    <h4>Catégories</h4>
    {{ form_row(form.categories) }}
    <h4>Prix</h4>
    <div class="row">
        <div class="col">
            {{ form_row(form.min) }}
        </div>
        <div class="col">
            {{ form_row(form.max) }}
        </div>
    </div>
    <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>

   <div class="row">
        <div class="col">
            <button class="mt-3 mb-3 btn btn-success w-100">Filtrer</button> 
        </div>
        {# <div class="col">
            <a href="{{path('ad_index')}}">
                <button class="mt-3 mb-3 btn btn-danger ">Réinitialiser</button> 
            </a>
        </div> #}
    </div>
{{ form_end(form) }}
