{% extends 'base.html.twig' %}

{% block title %}Les annonces des pucesNautiques{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body %}
    {{ encore_entry_script_tags('app') | replace({'src=' : 'defer src='}) | raw }}


    {# TODO: Faire un système de filtre #}
    <h1>Les annonces de vos bateaux et équipements nautiques favoris</h1>
    {# TODO: Créer du texte d'explication #}
    <p class="mb-4">Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
    Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
    s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
    Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
    elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
    ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
    eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
    er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
    riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
    
    <div class="row">
        <div class="col-lg-3">
            {% include "ad/_search.html.twig" %}
        </div>
        <div class="col-lg-9">
            <div class="d-flex justify-content-end mb-2">
                {{ knp_pagination_sortable(ads, 'Prix', 'ad.price') }}
                {{ knp_pagination_sortable(ads, 'Créer le', 'ad.createdAt') }}
            </div>
            <div class="ads">
                {% for ad in ads %}
                    {% include "ad/_card.html.twig" %}
                {% endfor %}
            </div>
            <div class="row">
                {{ knp_pagination_render(ads) }}
            </div>
        </div>
    </div>



{% endblock %}
