{% extends 'base.html.twig' %}

{% block title %}Les annonces des pucesNautiques{% endblock %}

{% block stylesheets %}
    <link href="assets/css/test.css" rel="stylesheet">
{% endblock %}


{% block body %}
    <h1>Les annonces en ligne sur les PucesNautiques</h1>
    {# TODO: Créer du texte d'explication #}
    <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
    Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
    s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
    Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
    elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
    ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
    eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
    er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
    riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Marque</th>
                    <th>Créer le</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
                <tr>
                    <td>{{ ad.id }}</td>
                    <td>{{ ad.title|striptags|u.truncate(50, '...')|raw  }}</td>
                    <td>{{ ad.description|striptags|u.truncate(50, '...')|raw }}</td>
                    <td>{{ ad.price }} €</td>
                    <td>{{ ad.brand }}</td>
                    <td>{{ ad.createdAt ? ad.createdAt|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('ad_show', {'id': ad.id}) }}">Regarder</a>
                        <a href="{{ path('ad_delete', {'id': ad.id, 'userConnect' : app.user.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas d'annonce en ligne</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    

    <a href="{{ path('ad_new') }}">Create new</a>

{% endblock %}
