{% extends 'base.html.twig' %}

{% block title %}PucesNautiques - {{ ad.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-10">
            <h1>{{ ad.title }}</h1>
            <p>Catégorie : {{ ad.category }} | Crée le  : {{ ad.createdAt ? ad.createdAt|date('d-m-Y') : '' }}</p>
        </div>
        <div class="col-lg-2">
            <img class="roundedImage dsplNone" src="{{chemin_image}}/{{ad.user.image}}"  onerror="this.src='/images/inconnu.png';" alt="{{ad.title}}">
        </div>
    </div>


    <div class="row mb-3 adBadge">
        <div class="col-lg">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="width: 100%; display: block;" src="{{chemin_image}}/{{ad.image}}"  onerror="this.src='/images/inconnu.png';" alt="{{ad.title}}">
                    </div>
                    <div class="carousel-item">
                        <img style="width: 100%; display: block;" src="{{chemin_image}}/{{ad.secondaryImage}}"  onerror="this.src='/images/inconnu.png';" alt="{{ad.title}}">

                    </div>
                    <div class="carousel-item">
                        <img style="width: 100%; display: block;" src="{{chemin_image}}/{{ad.thirdImage}}"  onerror="this.src='/images/inconnu.png';" alt="{{ad.title}}">   
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
        <div class="col-lg">
            {# <h3>les annonces sur les PucesNautiques</h3> #}
            <div class="row">
                <div class="col-lg-8">
                    {{ ad.title }} <br>
                    De la marque : {{ ad.brand }}
                </div>
                <div class="col-lg-4">
                    <span class="badge badge-danger">{{ ad.price }} €</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg">
                    À venir chercher à {{ad.user.city}} <br>
                    Code postal : {{ad.user.postCode}}

                </div>
                <div class="col-lg">
                    Annonce créé par {{ad.user}}<br>
                    Le {{ ad.createdAt ? ad.createdAt|date('d-m-Y') : '' }}   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="#contact">
                        <button class="btn btn-success w-100 mt-5">Contacter l'acheteur</button>
                    </a>
                </div>
                <div class="col-lg-6">
                    {# TODO: Changer le lien et créer un tunnel d'achat #}
                    <a href="{{ path("invoice_new", {'buyer': app.user.id,'ad' : ad.id}) }}">
                        <button class="btn btn-info w-100 mt-5">Acheter le produit</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h2>Description de l'annonce</h2>
    {{ ad.description|raw }}

    <hr>

    <div class="row dsplFlex">
        <div class="col mb-2">
            <div id="map"></div>
        </div>
        <div class="col">
            <h4 id="contact">Envoyer un message à {{ad.user.firstName}}</h4>
            {# TODO: Texte explicatif  #}
            <p>Expedita quisquam, habitant voluptate, mattis ante odio quaerat? Molestie dol
            or! Litora facilisis quis pulvinar eros eum ornare magnam, mollis taciti deleniti.
            Praesent nonummy. Aliquid pede blandit asperiores alias tristique et. Nunc numquam!
             Voluptatem suscipit anim nascetur ac. Nobis repudiandae commodi. Recusandae soluta, faucibus aute excepturi ex sodales i
            ste tellus tristique explicabo dapibus nostrud maiores? Massa error molestie eli
            t? Neque wisi exercitation quisque rem fusce proin qui id molestiae, </p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include "message/_form.html.twig" %}
            {% else %}
                <h5 class="mt-5">Vous devez être connecté pour envoyer un message à {{ad.user.firstName}}...</h5>
                <a href="{{ path('app_login') }}">
                    <button class="btn btn-success w-100">Connectez-vous</button>
                </a>
            {% endif %}
            
        </div>
    </div>
    <script>
        function initMap() {
        var myLatLng = {lat: {{latitude}}, lng: {{longitude}}};
        try {
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: myLatLng
        });
        } catch (error) {
            console.log(err)
        }
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr5kIfYpbi33ninkBbTBZ-W7Y3Icc8Wko&callback=initMap"
    async defer></script>

    <div class="actionButton">
        {% if is_granted('ROLE_ADMIN') or app.user == ad.user %}
            <a href="{{ path('ad_edit', {'id': ad.id, 'userConnect' : app.user.id}) }}"><button type="button" class="btn btn-success mr-1 mb-3 mt-3">Modifier l'annonce</button></a>
            {# <a href="{{ path('ad_delete', {'id': ad.id}) }}"><button type="button" class="btn btn-danger mr-1 mb-3 mt-3">Supprimer l'annonce</button></a> #}
            {% include "ad/_delete_form.html.twig" %}
        {% endif %}
    </div>
    <a href="{{ path('ad_index') }}">Voir les autres annonces</a>
{% endblock %}
