{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Erreur{% endblock %}
{% block body %}
    <h3 class="text-center">ERREUR 404 - page non trouvée</h3>
	<div class="text-center"  > 
           <img class="img-responsive" src="/images/404.jpg">    
    </div>
{% endblock %}
