{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-6">
            {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-6">
            {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_row(form.streetAddress, {'attr': {'class': 'form-control'}}) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.postCode, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-6">
            {# TODO: Tester le nom de la ville et faire de l'autocompletion #}
            {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
            *Veuillez à mettre un nom de ville correct.
        </div>
    </div>
    {{ form_row(form.image, {'attr': {'class': 'form-control'}}) }}
    *Votre image sera visible une fois le formulaire validé.
    <br>
    <br>

    {{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}


    <button class="btn btn-info mt-3 mb-3">
    {% if not app.user %}
        Inscription
    {% else %}
        Validation
    {% endif %}
    </button>
{{ form_end(form) }}