{% extends 'base.html.twig' %}

{% block title %}Les utilisateurs des PucesNautiques{% endblock %}

{% block body %}
    <h1>Les utilisateurs des PucesNautiques</h1>
    {# TODO: Créer du texte d'explication #}
    <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
    Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
    s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
    Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
    elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
    ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
    eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
    er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
    riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>

    {{ form_start(form) }}
        <div class="row">.
            <div class="col-lg-9">
                {{ form_row(form.user, {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="col-lg-2">
                <button class=" btn btn-success w-100">Filtrer</button> 
            </div>
        </div>
    {{ form_end(form) }}

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="mailto:{{user.email}}">{{ user.email }}</a></td>
                    <td><a href="tel:+33{{user.phone}}">{{ user.phone }}</a></td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.postCode }}</td>
                    <td>{{ user.city }}</td>
                    <td>
                        <a class="text-info" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                        <a class="text-danger"  href="{{ path('user_delete', {'id': user.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Pas d'utilisateur inscrit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
