{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes annonces en ligne</h1>
        {# TODO: Créer du texte d'explication #}
        <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
        Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
        s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
        Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
        elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
        ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
        eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
        er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
        riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>

        {# {{ form_start(form) }}
            <div class="row">.
                <div class="col-lg-9">
                    {{ form_row(form.q) }}
                </div>
                <div class="col-lg-2">
                    <button class=" btn btn-success w-100">Filtrer</button> 
                </div>
            </div>
        {{ form_end(form) }} #}

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Créer le</th>
                        <th><a href="{{ path('ad_new') }}"><button class="btn btn-success">+</button></a></th>
                    </tr>
                </thead>
                <tbody>
                {% for ad in user.ads %}
                    <tr>
                        <td><a href="{{path('ad_show', {'id' : ad.id })}}">{{ ad.id }}</a></td>
                        <td><a href="{{path('ad_show', {'id' : ad.id })}}">{{ ad.title|striptags|u.truncate(50, '...')|raw}}</a></td>
                        <td><a href="{{path('ad_show', {'id' : ad.id })}}">{{ ad.description|striptags|u.truncate(50, '...')|raw}}</a></td>
                        <td><a href="{{path('ad_show', {'id' : ad.id })}}">{{ ad.price }} €</td>
                        <td><a href="{{path('ad_show', {'id' : ad.id })}}">{{ ad.createdAt ? ad.createdAt|date('d-m-Y') : '' }}</a></td>
                        <td>
                            <a href="{{ path('ad_show', {'id': ad.id}) }}">Voir</a>
                            <a href="{{ path('ad_edit', {'id': ad.id, 'userConnect' : app.user.id}) }}" class="text-warning">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas d'annonce à afficher</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
         
        <a href="{{ path('ad_new') }}">Créer une annonce</a>

    </div>
{% endblock %}
