{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    {# TODO: Créer du texte d'explication #}
    <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
    Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
    s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
    Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
    elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
    ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
    eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
    er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
    riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
    <div class="row mb-3">
        <div class="col-lg-4">
            <img style="width: 100%; display: block;" src="{{chemin_image}}/{{user.image}}"  onerror="this.src='/images/inconnu.png';" alt="Card image">
        </div>
        <div class="col-lg-8">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Nom de famille</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Adresse email</th>
                        <td><a href="mailto:{{user.email}}">{{ user.email }}</a></td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td><a href="tel:+33{{user.phone}}">{{ user.phone }}</a></td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ user.streetAddress }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ user.city }}</td>
                    </tr>
                    <tr>
                        <th>Code postal</th>
                        <td>{{ user.postCode }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    

    <a href="{{ path('ad_index') }}"><button type="button" class="btn btn-success mr-1">Voir mes annonces</button></a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier mon profil</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
