{% extends 'base.html.twig' %}

{% block title %}PucesNautiques - Le site d'annonce d'occasion spécialisé dans le nautique {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <p class="lead">
    <hr>
        <div class="dsplFlex row">
            {# TODO: Gérer le responsive #}
            <div class="col-4">
            <img style="height: 200px; width:100%  display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">

            </div>
            <div class="col-4">
            <img style="height: 200px; width:100% display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
            
            </div>
            <div class="col-4">
            <img style="height: 200px; width:100% display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
            </div>
        </div>
    <hr>

    Aspernatur quisquam, interdum ultricies, asperiores sollicitudin eros ipsam, accusamus sapien egestas pharetra fuga repellendus saepe nascetur, 
    eget mattis sagittis vero ultricies varius? Cum tortor! Fermentum. Porro dolor, provident. Fusce ligula. Corporis, 
    et aperiam dolor aliquet curabitur odio culpa blandit perspiciatis, tempora ridiculus cum nullam voluptatum laboris. 
    Libero repudiandae, eos porttitor, hac? Eu congue elementum exercitation ea egestas nonummy bibendum dolorum adipisicin
    g, illo? Phasellus excepteur? Excepturi nullam penatibus gravida varius illum. Praesent amet. Nemo luctus tincidunt. 
    Phasellus, molestie fermentum quos ac? Hic eros minima porta aliquip quisque. Morbi sollicitudin? Congue aliquet impe
    dit. Odit, diamlorem nihil netus? Ullam! Purus animi? Doloremque etiam.
    <hr>
    <h2>Les dernières annonces dans la catégorie kayaks</h2>
    <br>
    <div class="ads">
        {% for kayak in kayaks %}
            <a href="{{path('ad_show', {'id' : kayak.id})}}">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ kayak.title|u.truncate(15, '...') }} <span class="badge badge-success">Nouveau</span></h5>
                        <h6 class="card-subtitle text-muted">{{kayak.category}} | {{kayak.price}} €</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="{{chemin_image}}/{{kayak.image}}"  onerror="this.src='/images/inconnu.png';" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">
                            {{ kayak.description|striptags|u.truncate(25, '...')|raw }}
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{kayak.brand}} | {{ kayak.createdAt|date('d-m-Y') }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <hr>
    <h2>Les dernières annonces dans la catégorie canoës</h2>
    <br>
    <div class="ads">
        {% for canoe in canoes %}
            <a href="{{path('ad_show', {'id' : canoe.id})}}">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ canoe.title|u.truncate(15, '...') }} <span class="badge badge-success">Nouveau</span></h5>
                        <h6 class="card-subtitle text-muted">{{canoe.category}} | {{canoe.price}} €</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="{{chemin_image}}/{{canoe.image}}"  onerror="this.src='/images/inconnu.png';" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">
                            {{ canoe.description|striptags|u.truncate(25, '...')|raw }}
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{canoe.brand}} | {{ canoe.createdAt|date('d-m-Y') }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <hr>
    <h2>Les dernières annonces dans la catégorie équipements</h2>
    <br>
    <div class="ads">
        {% for equipement in equipements %}
        <a href="{{path('ad_show', {'id' : equipement.id})}}">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ equipement.title|u.truncate(15, '...') }} <span class="badge badge-success">Nouveau</span></h5>
                    <h6 class="card-subtitle text-muted">{{equipement.category}} | {{equipement.price}} €</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="{{chemin_image}}/{{equipement.image}}"  onerror="this.src='/images/inconnu.png';" alt="Card image">
                <div class="card-body">
                    <p class="card-text">
                        {{ equipement.description|striptags|u.truncate(25, '...')|raw }}
                    </p>
                </div>
                <div class="card-footer text-muted">
                    {{equipement.brand}} | {{ equipement.createdAt|date('d-m-Y') }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <hr>
    Aspernatur quisquam, interdum ultricies, asperiores sollicitudin eros ipsam, accusamus sapien egestas pharetra fuga repellendus saepe nascetur, 
    eget mattis sagittis vero ultricies varius? Cum tortor! Fermentum. Porro dolor, provident. Fusce ligula. Corporis, 
    et aperiam dolor aliquet curabitur odio culpa blandit perspiciatis, tempora ridiculus cum nullam voluptatum laboris. 
    Libero repudiandae, eos porttitor, hac? Eu congue elementum exercitation ea egestas nonummy bibendum dolorum adipisicin
    g, illo? Phasellus excepteur? Excepturi nullam penatibus gravida varius illum. Praesent amet. Nemo luctus tincidunt. 
    Phasellus, molestie fermentum quos ac? Hic eros minima porta aliquip quisque. Morbi sollicitudin? Congue aliquet impe
    dit. Odit, diamlorem nihil netus? Ullam! Purus animi? Doloremque etiam.
    <hr>
    Aspernatur quisquam, interdum ultricies, asperiores sollicitudin eros ipsam, accusamus sapien egestas pharetra fuga repellendus saepe nascetur, 
    eget mattis sagittis vero ultricies varius? Cum tortor! Fermentum. Porro dolor, provident. Fusce ligula. Corporis, 
    et aperiam dolor aliquet curabitur odio culpa blandit perspiciatis, tempora ridiculus cum nullam voluptatum laboris. 
    Libero repudiandae, eos porttitor, hac? Eu congue elementum exercitation ea egestas nonummy bibendum dolorum adipisicin
    g, illo? Phasellus excepteur? Excepturi nullam penatibus gravida varius illum. Praesent amet. Nemo luctus tincidunt. 
    Phasellus, molestie fermentum quos ac? Hic eros minima porta aliquip quisque. Morbi sollicitudin? Congue aliquet impe
    dit. Odit, diamlorem nihil netus? Ullam! Purus animi? Doloremque etiam.
    </p>
{% endblock %}
