{% extends 'base.html.twig' %}

{% block title %}L'histoire des Puces Nautiques{% endblock %}

{% block body %}
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <h3>
        Heading
        <small class="text-muted">with muted text</small>
    </h3>
    <p class="lead">
        <hr>
        Aspernatur quisquam, interdum ultricies, asperiores sollicitudin eros ipsam, accusamus sapien egestas pharetra fuga repellendus saepe nascetur, 
        eget mattis sagittis vero ultricies varius? Cum tortor! Fermentum. Porro dolor, provident. Fusce ligula. Corporis, 
        et aperiam dolor aliquet curabitur odio culpa blandit perspiciatis, tempora ridiculus cum nullam voluptatum laboris. 
        Libero repudiandae, eos porttitor, hac? Eu congue elementum exercitation ea egestas nonummy bibendum dolorum adipisicin
        g, illo? Phasellus excepteur? Excepturi nullam penatibus gravida varius illum. Praesent amet. Nemo luctus tincidunt. 
        Phasellus, molestie fermentum quos ac? Hic eros minima porta aliquip quisque. Morbi sollicitudin? Congue aliquet impe
        dit. Odit, diamlorem nihil netus? Ullam! Purus animi? Doloremque etiam.
        <hr>
        Aspernatur quisquam, interdum ultricies, asperiores sollicitudin eros ipsam, accusamus sapien egestas pharetra fuga repellendus saepe nascetur, 
        eget mattis sagittis vero ultricies varius? Cum tortor! Fermentum. Porro dolor, provident. Fusce ligula. Corporis, 
        et aperiam dolor aliquet curabitur odio culpa blandit perspiciatis, tempora ridiculus cum nullam voluptatum laboris. 
        Libero repudiandae, eos porttitor, hac? Eu congue elementum exercitation ea egestas nonummy bibendum dolorum adipisicin
        g, illo? Phasellus excepteur? Excepturi nullam penatibus gravida varius illum. Praesent amet. Nemo luctus tincidunt. 
        Phasellus, molestie fermentum quos ac? Hic eros minima porta aliquip quisque. Morbi sollicitudin? Congue aliquet impe
        dit. Odit, diamlorem nihil netus? Ullam! Purus animi? Doloremque etiam.
        <hr>
        Aspernatur quisquam, interdum ultricies, asperiores sollicitudin eros ipsam, accusamus sapien egestas pharetra fuga repellendus saepe nascetur, 
        eget mattis sagittis vero ultricies varius? Cum tortor! Fermentum. Porro dolor, provident. Fusce ligula. Corporis, 
        et aperiam dolor aliquet curabitur odio culpa blandit perspiciatis, tempora ridiculus cum nullam voluptatum laboris. 
        Libero repudiandae, eos porttitor, hac? Eu congue elementum exercitation ea egestas nonummy bibendum dolorum adipisicin
        g, illo? Phasellus excepteur? Excepturi nullam penatibus gravida varius illum. Praesent amet. Nemo luctus tincidunt. 
        Phasellus, molestie fermentum quos ac? Hic eros minima porta aliquip quisque. Morbi sollicitudin? Congue aliquet impe
        dit. Odit, diamlorem nihil netus? Ullam! Purus animi? Doloremque etiam.
        </p>
{% endblock %}
