{% extends 'base.html.twig' %}

{% block title %}Live{% endblock %}

{% block body %}
    <video id="localVideo" autoplay playsinline controls="false"/>
    <script type="text/javascript" src="../video.js"></script>
{% endblock %}
